<div class="newsletter {% if newsletter == 'center' %}center{% endif %}">
  <p class="message"></p>
  {% if settings.newsletter_system == 'mailchimp' %}
    <form action="{{ settings.mailchimp_link }}" method="post" name="mc-embedded-subscribe-form" class="contact-form" target="_blank">
      <input type="email" value="" name="EMAIL" class="contact_email" placeholder="Enter your email address...">
      <input type="submit" value="Sign Up" class="action_button sign_up" name="subscribe" />
    </form>
  {% else %}    
    {% form 'customer' %}
       {% if form.posted_successfully? %}
         <p><em>Thank you for joining our mailing list!</em></p>
       {% elsif form.errors %}
         {% for field in form.errors %}
           <p><em>{{ field }} - {{ form.errors.messages[field] }}</em></p>
         {% endfor %}
       {% endif %}

       <input type="hidden" name="contact[tags]" value="prospect,newsletter"/>
       <input type="hidden" name="contact[first_name]" value="Newsletter" />
       <input type="hidden" name="contact[last_name]" value="Subscriber" />
       <input type="email" class="contact_email" name="contact[email]" required pattern="[^ @]*@[^ @]*" placeholder="Enter your email address..." />
       <input type='submit' class="action_button sign_up" value="Sign Up" />
     {% endform %}
  {% endif %}
</div>