

<div class="sloyalty-widget"
     data-shop="{{ shop.permanent_domain }}"
     data-order-id="{{ id }}"
     data-order-email="{{ email }}"></div>

<script src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
<script src="//d6j2fa188icsm.cloudfront.net/site_media/static/js/shopify_checkout.js"></script>
