<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title">
    {{ page.title }}
  </h1>
</div>

{% include 'collection-sidebar' %}
<div class="twelve columns page">
  <div class="section clearfix">  
    {{ page.content }}
  </div>
</div>